<body>
    <div class="row">
    <!--- Login form for existing customers-->
      <form method="POST" action="/login" class="col-md-4">
        <fieldset>
          <legend>Login Information</legend>
          <div class="form-group">
            <label for="email1">Email:</label><input type="email" name="username" id="email1">
          </div>
          <div class="form-group">
            <label for="password1">Password:</label><input id="password1" type="password" name="password">
          </div>
        </fieldset>
        <button class="btn btn-default">Login</button>
      </form>
    </div>
    <div class="row">
  </body>